# Google Maps API (Secret - Backend only)
GOOGLE_MAPS_API_KEY=

# .env.example
VITE_ADMIN_PASSWORD=admin123

# Player Passwords
VITE_PASS_ZEPHYR_Y=ATTITUDE26
VITE_PASS_HARRY_S=CREATIVE26
VITE_PASS_MYLES_H=SMILE26
VITE_PASS_TANUSH_P=VISION26
VITE_PASS_JOSHUA_M=SPIRIT26
VITE_PASS_THOMAS_B=FOCUS26
VITE_PASS_BENJAMIN_C=ENERGY26
VITE_PASS_HUGO_D=TOUCH26
VITE_PASS_HARVEY_M=SPEED26
VITE_PASS_JULIAN_B=TEAMWORK26
